:root {
  --noche: #080122;
  --dorado: #e1ae13;
  --crema: #fdfbf5;
  --blanco: #ffffff;
  --gris-suave: #9ca3af;

  /* Control Global de Iconos (Material Symbols) */
  --icon-fill: 0;   /* 0 = Outline, 1 = Solid */
  --icon-wght: 200; /* Grosor (Stroke): 100 a 700 */
  --icon-grad: 0;   /* Grado: -25 a 200 */
  --icon-opsz: 24;  /* Tamaño óptimo: 20 a 48 */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--crema);
  background-image: linear-gradient(to bottom, var(--crema), var(--blanco));
  color: var(--noche);
  line-height: 1.2;
}

h1,
h2,
h3,
h4,
.serif {
  font-family: "Playfair Display", serif;
}

section {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
}

.container {
  max-width: 1440px;

  margin: 0 auto;
}

input,
select,
textarea,
button {
  font-family: inherit;
  font-size: 1.125rem;
}

a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.material-symbols-outlined {
  font-variation-settings:
    "FILL" var(--icon-fill),
    "wght" var(--icon-wght),
    "GRAD" var(--icon-grad),
    "opsz" var(--icon-opsz);
  vertical-align: middle;
}
